<div ng-controller="userInformationController as userInfo">
    <section id="contact">
        <form>
            <div class="col-md-6 form-line">
                <div class="form-group">
                    <label class="control-label" for="ReportId">Report Id</label>
                    <input ng-model="userInfo.ReportId" type="text" class="form-control" id="ReportId" placeholder="Enter Report Id">
                </div>
                <div class="form-group">
                    <div class="col-md-6" style="padding-left: 0;">
                        <label class="control-label" for="FirstName">First Name</label>
                        <input ng-model="userInfo.FirstName" type="text" class="form-control" id="FirstName" placeholder="Enter First Name">
                    </div>
                    <div class="col-md-6" style="padding-right: 0;">
                        <label class="control-label" for="LastName">Last Name</label>
                        <input ng-model="userInfo.LastName" type="text" class="form-control" id="LastName" placeholder="Enter Last Name">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group" style="margin: 20px 0 55px 0;">
                    <label class="col-md-3" for="gender">Gender</label>
                    <label class="col-md-3"><input type="radio" name="gender" ng-model="userInfo.Gender" ng-value="'Male'"> Male</label>
                    <label class="col-md-3"><input type="radio" name="gender" ng-model="userInfo.Gender" ng-value="'Female'"> Female</label>
                    <label class="col-md-3"><input type="radio" name="gender" ng-model="userInfo.Gender" ng-value="'Other'"> Other</label>
                </div>
                <div class="form-group">
                    <label class="control-label" for="HusbandWife">Husband/Wife Name</label>
                    <input ng-model="userInfo.HusbandWife" type="text" class="form-control" id="HusbandWife" placeholder="Enter Husband / Wife Name">
                </div>
                <div class="form-group">
                    <label class="control-label" for="Age">Age</label>
                    <input ng-model="userInfo.Age" type="text" class="form-control" id="Age" placeholder="Enter Age">
                </div>
                <div class="form-group">
                    <label class="control-label" for="DateOfAdmission">Date of Admission</label>
                    <input ng-model="userInfo.DateOfAdmission" type="text" class="form-control" id="DateOfAdmission" placeholder="Enter Date of Admission">
                </div>
                <div class="form-group">
                    <label class="control-label" for="UserInputEmail">Email Address</label>
                    <input ng-model="userInfo.UserInputEmail" type="email" class="form-control" id="UserInputEmail" placeholder=" Enter Email id">
                </div>
                <div class="form-group">
                    <label class="control-label" for="Mobile">Mobile No.</label>
                    <input ng-model="userInfo.Mobile" type="tel" class="form-control" id="Mobile" placeholder=" Enter 10-digit mobile no.">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="UploadPhoto">Upload Photo</label>
                    <div class="col-md-12" style="text-align: center;">
                        <img src="../images/download.jpg" style="float:none; margin:auto;" alt=""> <br/>
                        <button>Upload Photo</button>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label" for="Address">Address</label>
                    <input ng-model="userInfo.Address" type="text" class="form-control" id="Address" placeholder="Enter Address">
                </div>
                <div class="form-group">
                    <label class="control-label" for="DiagnosisDescription">Diagnosis</label>
                    <textarea ng-model="userInfo.DiagnosisDescription" class="form-control" id="DiagnosisDescription" placeholder="Enter Your Message"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" for="TreatmentDescription">Treatment</label>
                    <textarea ng-model="userInfo.TreatmentDescription" class="form-control" id="TreatmentDescription" placeholder="Enter Your Message"></textarea>
                </div>
                <div>

                    <button ng-click="userInfo.save(userInfo)" type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Save information</button>
                </div>

            </div>
        </form>
        <div class="clearfix"></div>
    </section>
</div>